<html>
    <head>
        <title>Todo App</title>
        <style>
            #error {
                display: none;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                width: 200px;
            }

            li {
                clear: both;
            }

            li button {
                -webkit-appearance: none;
                border: none;
                outline: none;
                background-color: white;
                color: red;
                float: right;
                cursor: pointer;
                font-size: 20px;
            }

            .lists-wrapper, .todos-wrapper {
                display: inline-block;
                vertical-align: top;
            }

            .check-completed {
                float: left;
            }

        </style>
    </head>
    <body>
        <div class="lists-wrapper">

            <form id="list-form" method="post" action="/todos/create">
                <input type="text" id="list-description" name="description" />
                <input type="submit" value="Create List" />
            </form>
            <h4>Todo Lists</h4>
            <div id="error" class="hidden">Something went wrong!</div>
            <ul id="lists">
                    {% for list in lists %}
                    <li class="list-item">
                        <input class="check-completed" data-id="{{ list.id }}" 
                        type="checkbox"{% if list.completed %} checked {% endif %}/>
                        <a href="/lists/{{ list.id }}">
                        {{list.name}}
                        </a>
                        <button data-id="{{ list.id }}" class="remove-button">&cross;</button>
                    </li>
                    {% endfor %}
            </ul>

        </div>

        <div class="todos-wrapper">
            <form id="todo-form" method="post" action="/todos/create">
                <input type="text" id="todo-description" name="description" />
                <input type="submit" value="Create Task" />
            </form>
            <h4>{{ active_list.name }}</h4>
            <div id="error" class="hidden">Something went wrong!</div>
            <ul id="todos">
                {% for todo in todos %}
                <li class="todo-item">
                    <input class="check-completed" data-id="{{ todo.id }}" 
                    type="checkbox"{% if todo.completed %} checked {% endif %}/> 
                    {{todo.description}}
                    <button data-id="{{ todo.id }}" class="remove-button">&cross;</button>
                </li>
                {% endfor %}
            </ul>
        </div>
        <script>
            function handleRemoveButton(e){
                console.log('event', e);
                const todoId = e.target.dataset['id'];
                fetch('/todos/' + todoId, {
                    method: 'DELETE',
                    body: JSON.stringify({
                        'id': todoId,
                    }),
                    headers: {
                        'Content-Type': 'application/json',
                    }
                })
                .then(function(response){
                    return response.json();
                })
                .then(function(jsonResponse) {
                    console.log('response', jsonResponse);
                    const item = e.target.parentElement;
                    item.remove();
                    document.getElementById('error').className = 'hidden';
                })
                .catch(function() {
                    document.getElementById('error').className = '';
                })
            }

            const removebuttons = document.querySelectorAll('.remove-button');
            for (let i = 0; i < removebuttons.length; i++) {
                const removebutton = removebuttons[i];
                removebutton.onclick = function(e) {
                    handleRemoveButton(e);
                };
            }

            const checkboxs = document.querySelectorAll('.check-completed');
            for (let i = 0; i < checkboxs.length; i++) {
                const checkbox = checkboxs[i];
                checkbox.onchange = function(e) {
                    console.log('event', e);
                    const newCompleted = e.target.checked;
                    const todoId = e.target.dataset['id'];
                    fetch('/todos/' + todoId + '/set-completed', {
                        method: 'POST',
                        body: JSON.stringify({
                            'completed': newCompleted,
                        }),
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    })
                    .then(function(jsonResponse) {
                        document.getElementById('error').className = 'hidden';
                    })
                    .catch(function() {
                        document.getElementById('error').className = '';
                    })
                }
            }

            function handleCreate(e, path, desc, isList) {
                e.preventDefault();
                fetch(path, {
                    method: 'POST',
                    body: JSON.stringify({
                        'description': desc,
                        'list_id': 1,
                        //TODO : Change the default 'list_id'
                    }),
                    headers: {
                        'Content-Type': 'application/json',
                    }
                })
                .then(function(response){
                    return response.json();
                })
                .then(function(jsonResponse){
                    console.log('response', jsonResponse);

                    li = document.createElement('li');
                    var attr_class = document.createAttribute("class");
                    attr_class.value = (isList ? "list-item":"todo-item");
                    li.setAttributeNode(attr_class);

                    checkbox = document.createElement('input');
                    checkbox.class = "check-completed";
                    checkbox.type = "checkbox";
                    var attr_dataId = document.createAttribute("data-id");
                    attr_dataId.value = jsonResponse['id'].toString();
                    checkbox.setAttributeNode(attr_dataId);
                    li.appendChild(checkbox);
                    
                    //Create the text node after the the checkbox
                    var text = document.createTextNode(jsonResponse['description']);
                    //Append the text node to the <li>
                    li.appendChild(text);

                    
                    removeButton = document.createElement('Button');
                    var attr_dataId2 = document.createAttribute("data-id");
                    attr_dataId2.value = jsonResponse['id'].toString();
                    removeButton.setAttributeNode(attr_dataId2);
                    removeButton.innerHTML = '&cross;';
                    removeButton.className = "remove-button";

                    /*
                    removebutton.onclick = function(e) {
                        handleRemoveButton(e);
                    };
                    */

                    li.appendChild(removeButton);
                    
                    if(isList) {
                        document.getElementById('lists').appendChild(li);
                        document.getElementById("list-description").value = "";
                        document.getElementById('error').className = 'hidden';
                    }else { 
                        document.getElementById('todos').appendChild(li);
                        document.getElementById("todo-description").value = "";
                        document.getElementById('error').className = 'hidden';
                    }
                })
                .catch(function() {
                    document.getElementById('error').className = '';
                })
            }
        
            document.getElementById("todo-form").onsubmit = function(e) {
                var dsc = document.getElementById("todo-description").value; 
                handleCreate(e, '/todos/create', dsc, false);
            }

            document.getElementById("list-form").onsubmit = function(e) {
                var dsc = document.getElementById("list-description").value; 
                handleCreate(e, '/lists/create', dsc, true);
            }

        </script>
    </body>
</html>