<html>
    <head>
        <title>Todo App</title>
        <style>
            #error {
                display: none;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                width: 200px;
            }

            li {
                clear: both;
            }

            li button {
                -webkit-appearance: none;
                border: none;
                outline: none;
                background-color: white;
                color: red;
                float: right;
                cursor: pointer;
                font-size: 20px;
            }

            .lists-wrapper, .todos-wrapper {
                display: inline-block;
                vertical-align: top;
            }

            .check-completed-list {
                float: left;
            }


            .check-completed-todo {
                float: left;
            }

        </style>
    </head>
    <body>
        <div class="lists-wrapper">

            <form id="list-form" method="post" action="/todos/create">
                <input type="text" id="list-description" name="description" />
                <input type="submit" value="Create List" />
            </form>
            <h4>Todo Lists</h4>
            <div id="error" class="hidden">Something went wrong!</div>
            <ul id="lists">
                    {% for list in lists %}
                    <li class="list-item">
                        <input class="check-completed-list" data-id="{{ list.id }}" 
                        type="checkbox"{% if list.completed %} checked {% endif %}/>
                        <a href="/lists/{{ list.id }}">
                        {{list.name}}
                        </a>
                        <button data-id="{{ list.id }}" class="remove-button-list">&cross;</button>
                    </li>
                    {% endfor %}
            </ul>

        </div>

        <div class="todos-wrapper">
            <form id="todo-form" method="post" action="/todos/create">
                <input type="text" id="todo-description" name="description" />
                <input type="submit" value="Create Task" />
                <input id="active_list" type="hidden" value="{{active_list.id}}"/>
            </form>
            <h4>{{ active_list.name }}</h4>
            <div id="error" class="hidden">Something went wrong!</div>
            <ul id="todos">
                {% for todo in todos %}
                <li class="todo-item">
                    <input class="check-completed-todo" data-id="{{ todo.id }}" 
                    type="checkbox"{% if todo.completed %} checked {% endif %}/> 
                    {{todo.description}}
                    <button data-id="{{ todo.id }}" class="remove-button-todo">&cross;</button>
                </li>
                {% endfor %}
            </ul>
        </div>
        <script>
            function handleRemoveButton(e, path, isList){
                console.log('event', e);
                const targetId = e.target.dataset['id'];
                fetch(path + targetId, {
                    method: 'DELETE',
                    body: JSON.stringify({
                        'id': targetId,
                    }),
                    headers: {
                        'Content-Type': 'application/json',
                    }
                })
                .then(function(response){
                    return response.json();
                })
                .then(function(jsonResponse) {
                    console.log('response', jsonResponse);
                    const item = e.target.parentElement;
                    item.remove();
                    if(isList){
                        window.location.replace('/');
                    }
                    document.getElementById('error').className = 'hidden';
                })
                .catch(function() {
                    document.getElementById('error').className = '';
                })
            }

            function handleCheckbox(e, path, isList) {

                console.log('event', e);
                const newCompleted = e.target.checked;
                const targetId = e.target.dataset['id'];
                fetch(path + targetId, {
                    method: 'POST',
                    body: JSON.stringify({
                        'completed': newCompleted,
                    }),
                    headers: {
                        'Content-Type': 'application/json',
                    }
                })
                .then(function(jsonResponse) {
                    if(targetId == Number(document.getElementById("active_list").value)) {
                        const checkboxs_todo = document.querySelectorAll('.check-completed-todo');
                        for (let i = 0; i < checkboxs_todo.length; i++) {
                            const checkbox = checkboxs_todo[i];
                            checkbox.checked = newCompleted;
                        }
                    }
                    document.getElementById('error').className = 'hidden';
                })
                .catch(function() {
                    document.getElementById('error').className = '';
                })

            }

            const removebuttonsTodo = document.querySelectorAll('.remove-button-todo');
            for (let i = 0; i < removebuttonsTodo.length; i++) {
                const removebutton = removebuttonsTodo[i];
                removebutton.onclick = function(e) {
                    handleRemoveButton(e,'/todos/',false);
                };
            }

            const removebuttonsList = document.querySelectorAll('.remove-button-list');
            for (let i = 0; i < removebuttonsList.length; i++) {
                const removebutton = removebuttonsList[i];
                removebutton.onclick = function(e) {
                    handleRemoveButton(e,'/lists/',true);
                };
            }

            const checkboxs_todo = document.querySelectorAll('.check-completed-todo');
            for (let i = 0; i < checkboxs_todo.length; i++) {
                const checkbox = checkboxs_todo[i];
                checkbox.onchange = function(e) {
                    handleCheckbox(e,'/todos/set-completed-todo/', false);
                }
            }

            const checkboxs_list = document.querySelectorAll('.check-completed-list');
            for (let i = 0; i < checkboxs_list.length; i++) {
                const checkbox = checkboxs_list[i];
                checkbox.onchange = function(e) {
                    handleCheckbox(e,'/lists/set-completed-list/', true);
                }
            }

            function handleCreate(e, path, desc, isList) {
                e.preventDefault();
                fetch(path, {
                    method: 'POST',
                    body: JSON.stringify({
                        'description': desc,
                        'list_id': Number(document.getElementById("active_list").value),
                    }),
                    headers: {
                        'Content-Type': 'application/json',
                    }
                })
                .then(function(response){
                    return response.json();
                })
                .then(function(jsonResponse){
                    console.log('response', jsonResponse);

                    li = document.createElement('li');
                    var attr_class = document.createAttribute("class");
                    attr_class.value = (isList ? "list-item":"todo-item");
                    li.setAttributeNode(attr_class);

                    checkbox = document.createElement('input');
                    checkbox.class = "check-completed";
                    checkbox.type = "checkbox";
                    var attr_dataId = document.createAttribute("data-id");
                    attr_dataId.value = jsonResponse['id'].toString();
                    checkbox.setAttributeNode(attr_dataId);
                    li.appendChild(checkbox);
                    
                    if(isList) {

                        a = document.createElement('a');
                        a.href = "/lists/" + jsonResponse['id'];
                        a.innerHTML = jsonResponse['description'];
                        li.appendChild(a);

                    }
                    else {

                        //Create the text node after the the checkbox
                        var text = document.createTextNode(jsonResponse['description']);
                        //Append the text node to the <li>
                        li.appendChild(text);

                    }


                    
                    removeButton = document.createElement('Button');
                    var attr_dataId2 = document.createAttribute("data-id");
                    attr_dataId2.value = jsonResponse['id'].toString();
                    removeButton.setAttributeNode(attr_dataId2);
                    removeButton.innerHTML = '&cross;';
                    removeButton.className = "remove-button";

                    
                    removeButton.onclick = function(e) {
                        handleRemoveButton(e, (isList ? "/lists/":"/todos/"),isList);
                    };
                    

                    li.appendChild(removeButton);
                    
                    if(isList) {
                        document.getElementById('lists').appendChild(li);
                        document.getElementById("list-description").value = "";
                        document.getElementById('error').className = 'hidden';
                    }else { 
                        document.getElementById('todos').appendChild(li);
                        document.getElementById("todo-description").value = "";
                        document.getElementById('error').className = 'hidden';
                    }
                })
                .catch(function() {
                    document.getElementById('error').className = '';
                })
            }
        
            document.getElementById("todo-form").onsubmit = function(e) {
                var dsc = document.getElementById("todo-description").value; 
                handleCreate(e, '/todos/create', dsc, false);
            }

            document.getElementById("list-form").onsubmit = function(e) {
                var dsc = document.getElementById("list-description").value; 
                handleCreate(e, '/lists/create', dsc, true);
            }

        </script>
    </body>
</html>